body{
  background-color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;

}
.pokedex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn{
  height: 50px;
  width: 100px;
}